<?xml version='1.0' encoding='UTF-8' ?>

<PropertyList xmlns:f="http://java.sun.com/jsf/core"
          xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view encoding="utf-8" contentType="text/xml">
        <message-status type="string"><h:outputText escape="false" value="#{atn.doGetCompanyRoute}"/></message-status>
        <session-id type="string"><h:outputText escape="false" value="#{atn.sessionId}"/></session-id>
        <departure-airport type="string"></departure-airport>
        <arrival-airport type="string"></arrival-airport>
        <alternate-airport type="string"></alternate-airport>
        <flight-level type="number"></flight-level>
        <c:forEach items="#{atn.currentWaypoints}" var="wp">
        </c:forEach>
    </f:view>
</PropertyList>