<?xml version='1.0' encoding='UTF-8' ?>

<PropertyList xmlns:f="http://java.sun.com/jsf/core"
          xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view  encoding="utf-8" contentType="text/xml">
        <message-status type="string"><h:outputText escape="false" value="#{atn.doLogoff}"/></message-status>
        <airport type="string"><h:outputText escape="false" value="#{atn.logonAirport}"/></airport>
    </f:view>
</PropertyList>


