<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Usage:

  <util:login loginPrompt="#{msgs.loginPrompt}"
               namePrompt="#{msgs.namePrompt}"
           passwordPrompt="#{msgs.passwordPrompt}"
          loginButtonText="#{msgs.loginButtonText}"
              loginAction="#{user.login}"
              managedBean="#{user}">

    <f:actionListener for="loginButton"
                     type="com.clarity.LoginActionListener"/>

  </util:login>

  managedBean must have two properties: name and password.

  The loginAction attribute must be an action method that takes no
  arguments and returns a string. That string is used to navigate
  to the page the user sees after logging in.

  This component's loginButton is accessible so that you can
  add action listeners to it, as depicted above. The class specified
  in f:actionListener's type attribute must implement the
  javax.faces.event.ActionListener interface.

-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">

    <!-- INTERFACE -->
    <composite:interface>

        <!-- PROMPTS -->
        <composite:attribute name="loginPrompt"/>
        <composite:attribute name="namePrompt"/>
        <composite:attribute name="passwordPrompt"/>

        <!--  LOGIN BUTTON -->
        <composite:attribute name="loginButtonText"/>

        <!-- loginAction is called when the form is submitted -->
        <composite:attribute name="loginAction"
                             method-signature="java.lang.String login()"
                             required="true"/>

        <!-- You can add listeners to this actionSource:  -->
        <composite:actionSource name="loginButton" targets="form:loginButton"/>

        <!-- BACKING BEAN -->
        <composite:attribute name="managedBean" required="true"/>
    </composite:interface>

    <!-- IMPLEMENTATION -->
    <composite:implementation>
        <div class="prompt">
            #{cc.attrs.loginPrompt}
        </div>

        <!-- FORM -->
        <h:form id="form">
            <h:messages layout="table" errorStyle="color: red" fatalStyle="color: red"/>
            <h:panelGrid columns="2">

                <!-- NAME AND PASSWORD FIELDS -->
                #{cc.attrs.namePrompt}
                <h:inputText id="name"
                             value="#{cc.attrs.managedBean.username}"/>

                #{cc.attrs.passwordPrompt}
                <h:inputSecret id="password" size="8"
                               value="#{cc.attrs.managedBean.password}"/>

            </h:panelGrid>

            
            <p>
                <!-- LOGIN BUTTON -->
                <h:commandButton id="loginButton"
                                 value="#{cc.attrs.loginButtonText}"
                                 action="#{cc.attrs.loginAction}"/>
            </p>
        </h:form>
    </composite:implementation>
</html>