<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<!-- Usage:

  <util:login loginPrompt="#{msgs.loginPrompt}"
               namePrompt="#{msgs.namePrompt}"
           passwordPrompt="#{msgs.passwordPrompt}"
          loginButtonText="#{msgs.loginButtonText}"
              loginAction="#{user.login}"
              managedBean="#{user}">

    <f:actionListener for="loginButton"
                     type="com.clarity.LoginActionListener"/>

  </util:login>

  managedBean must have two properties: name and password.

  The loginAction attribute must be an action method that takes no
  arguments and returns a string. That string is used to navigate
  to the page the user sees after logging in.

  This component's loginButton is accessible so that you can
  add action listeners to it, as depicted above. The class specified
  in f:actionListener's type attribute must implement the
  javax.faces.event.ActionListener interface.

 -->

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:composite="http://java.sun.com/jsf/composite">


       <composite:interface name="yuical"
                            displayName="YUI Cal Component"
                            shortDescription="YUI Calendar Component">
           <composite:attribute name="value" required="true" type="java.util.Date"/>
           <composite:attribute name="render" required="false" type="java.lang.String"/>
       </composite:interface>

       <composite:implementation>
          <h:outputScript name="jsf.js" library="javax.faces" target="head" />
          <h:outputScript name="yuical/calendar.js" target="head" />

        <h:panelGrid class="yui-skin-sam" id="holdingContainer">
            <h:panelGroup layout="block" id="calContainer"/>
            <h:inputHidden id="date" value="#{cc.attrs.value}">
                <f:convertDateTime pattern="MM/dd/yyyy"/>
            </h:inputHidden>
        </h:panelGrid>
        <script type="text/javascript">
             demo.calendar.init("#{cc.clientId}", "#{cc.attrs.render}");
        </script>
    </composite:implementation>
</html>
