<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./../templates/pilotTemplate.xhtml">

            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h2>Flight Plan</h2>
                    <h:panelGrid columns="2">
                        <h:outputLabel for="" value="Date Created"/>
                        <h:inputText id="" value="#{pilot.currentPlan.dateCreated}"/>
                        <h:outputLabel for="" value="Created by"/>
                        <h:inputText id="" value="#{pilot.currentPlan.originatorUsername}"/>
                        <h:outputLabel for="" value="Aircraft Id"/>
                        <h:inputText id="" value="#{pilot.currentPlan.aircraftId}"/>
                        <h:outputLabel for="" value="Flight Rules"/>
                        <h:inputText id="" value="#{pilot.currentPlan.flightRules}"/>
                        <h:outputLabel for="" value="Flight Type"/>
                        <h:inputText id="" value="#{pilot.currentPlan.flightType}"/>
                        <h:outputLabel for="" value="Aircraft Type"/>
                        <h:inputText id="" value="#{pilot.currentPlan.aircraftType}"/>
                        <h:outputLabel for="" value="Departure"/>
                        <h:inputText id="" value="#{pilot.currentPlan.departureICAO}"/>
                        <h:outputLabel for="" value="Arrival"/>
                        <h:inputText id="" value="#{pilot.currentPlan.destinationICAO}"/>
                        <h:outputLabel for="" value="depart Time"/>
                        <h:inputText id="" value="#{pilot.currentPlan.departureTime}"/>
                        <h:outputLabel for="" value="Cruise Speed"/>
                        <h:inputText id="" value="#{pilot.currentPlan.cruiseSpeed}"/>
                        <h:outputLabel for="" value="Cruise FL"/>
                        <h:inputText id="" value="#{pilot.currentPlan.flightLevel}"/>
                        <h:outputLabel for="" value="Route"/>
                        <h:inputText id="" value="#{pilot.currentPlan.route1}"/>
                        <h:outputLabel for="" value="Route (cont)"/>
                        <h:inputText id="" value="#{pilot.currentPlan.route2}"/>
                        <h:outputLabel for="" value="Route (cont)"/>
                        <h:inputText id="" value="#{pilot.currentPlan.route3}"/>
                        <h:outputLabel for="" value="Route (cont)"/>
                        <h:inputText id="" value="#{pilot.currentPlan.route4}"/>
                        <h:outputLabel for="" value="Total Est Endurance Time"/>
                        <h:inputText id="" value="#{pilot.currentPlan.totalEET}"/>
                        <h:outputLabel for="" value="Alternate ICAO"/>
                        <h:inputText id="" value="#{pilot.currentPlan.alternateICAO}"/>
                        <h:outputLabel for="" value="Fuel on-board"/>
                        <h:inputText id="" value="#{pilot.currentPlan.fuelOnboardTime}"/>
                        <h:outputLabel for="" value="Persons on-board"/>
                        <h:inputText id="" value="#{pilot.currentPlan.personsOnboard}"/>
                        <h:outputLabel for="" value="Aircraft Markings/colour"/>
                        <h:inputText id="" value="#{pilot.currentPlan.aircraftColourMarkings}"/>
                        <h:outputLabel for="" value="Pilot In Command name"/>
                        <h:inputText id="" value="#{pilot.currentPlan.pilotInCommand}"/>
                        <h:outputLabel for="" value="Plan status"/>
                        <h:inputText id="" value="#{pilot.currentPlan.planStatus}"/>
                    </h:panelGrid>
                    <h:commandButton action="#{pilot.savePlan}" value="Save"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
