<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    
    <body>
        
        <ui:composition template="./../templates/pilotTemplate.xhtml">
            
            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h2>New Company Plan</h2>
                </h:form>
            </ui:define>

        </ui:composition>
        
    </body>
</html>
