<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../templates/pilotTemplate.xhtml">

            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h2>New Plan</h2>
                    <h:panelGrid id="inputGrid" columns="2">
                        <h:outputLabel for="aircraftId" value="Aircraft Id/Callsign"/>
                        <h:inputText id="aircraftId" value="#{pilot.currentPlan.aircraftId}"/>
                        <h:outputLabel for="flightRules" value="Flight Rules"/>
                        <h:selectOneMenu id="flightRules" value="#{pilot.currentPlan.flightRules}">
                            <f:selectItem itemValue="VFR"/>
                            <f:selectItem itemValue="IFR"/>
                        </h:selectOneMenu>
                        <h:outputLabel for="flightType" value="Flight Type"/>
                        <h:selectOneMenu id="flightType" value="#{pilot.currentPlan.flightType}">
                            <f:selectItem itemLabel="Scheduled" itemValue="S"/>
                            <f:selectItem itemLabel="Non-Scheduled" itemValue="N"/>
                            <f:selectItem itemLabel="General Aviation" itemValue="GA"/>
                            <f:selectItem itemLabel="Military/Police/Customs" itemValue="M"/>
                            <f:selectItem itemLabel="Other" itemValue="X"/>
                        </h:selectOneMenu>
                        <h:outputLabel for="aircraftType" value="Aircraft Type"/>
                        <h:inputText id="aircraftType" value="#{pilot.currentPlan.aircraftType}" valueChangeListener="#{pilot.updatePlanAircraft}">
                            <f:ajax immediate="true" render="cruiseSpeed flightLevel" execute="@this" event="blur"/>
                        </h:inputText>
                        <h:outputLabel for="departureICAO" value="Departure"/>
                        <p:autoComplete  maxResults="40" queryDelay="500"  completeMethod="#{atc.autoQueryICAOSimple}" id="departureICAO" value="#{pilot.currentPlan.departureICAO}"/>
                        <h:outputText value="&nbsp;"/>
                        <h:outputText value="&nbsp;"/>
                        <h:outputLabel for="destinationICAO" value="Arrival"/>
                        <p:autoComplete maxResults="40"  queryDelay="600" completeMethod="#{atc.autoQueryICAOSimple}" id="destinationICAO" value="#{pilot.currentPlan.destinationICAO}"/>
                        <!-- p:autoComplete maxResults="40"  queryDelay="600" var="aero2" completeMethod="#{atc.autoQueryICAO}" itemLabel="#{aero2.icaoId} (#{aero2.fullName})" itemValue="#{aero2.icaoId}" id="destinationICAO" value="#{pilot.currentPlan.destinationICAO}"/ -->
                        <h:outputText value="&nbsp;"/>
                        <h:outputText value="&nbsp;"/>
                        <h:outputLabel for="departureTime" value="Depart Time UTC (hh:mm)"/>
                        <p:inputMask mask="99:99" size="5" id="departureTime" value="#{pilot.currentPlan.departureTime}">
                            <f:convertDateTime type="time" pattern="HH:mm"/>
                        </p:inputMask>
                        <h:outputLabel for="cruiseSpeed" value="Cruise Speed"/>
                        <h:inputText id="cruiseSpeed" size="3" value="#{pilot.currentPlan.cruiseSpeed}"/>
                        <h:outputLabel for="flightLevel" value="Cruise FL"/>
                        <h:inputText id="flightLevel" size="3" value="#{pilot.currentPlan.flightLevel}"/>
                        <h:outputLabel for="route1" value="Route"/>
                        <h:inputTextarea cols="51" rows="5" id="route1" value="#{pilot.currentPlan.route1}"/>
                        <h:outputLabel for="totalEET" value="Total Est Elapse Time"/>
                        <p:inputMask mask="99:99" size="4" id="totalEET" value="#{pilot.currentPlan.totalEET}">
                            <f:convertDateTime type="time" pattern="HH:mm"/>
                        </p:inputMask>
                        <h:outputLabel for="alternateICAO" value="Alternate ICAO"/>
                        <p:autoComplete maxResults="40" queryDelay="600" var="aero2" completeMethod="#{atc.autoQueryICAO}" itemLabel="#{aero2.icaoId} (#{aero2.fullName})" itemValue="#{aero2.icaoId}" id="alternateICAO" value="#{pilot.currentPlan.alternateICAO}"/>
                        <h:outputLabel for="fob" value="Fuel on-board"/>
                        <p:inputMask mask="99:99" size="4" id="fob" value="#{pilot.currentPlan.fuelOnboardTime}">
                            <f:convertDateTime type="time" pattern="HH:mm"/>
                        </p:inputMask>
                        <h:outputLabel for="pob" value="Persons on-board"/>
                        <h:inputText id="pob" value="#{pilot.currentPlan.personsOnboard}"/>
                        <h:outputLabel for="markings" value="Aircraft Markings/colour"/>
                        <h:inputText id="markings" value="#{pilot.currentPlan.aircraftColourMarkings}"/>
                        <h:outputLabel for="pic" value="Pilot In Command name"/>
                        <h:inputText id="pic" value="#{pilot.currentPlan.pilotInCommand}"/>
                    </h:panelGrid>
                    <h:commandButton action="#{pilot.savePlan}" value="Save"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
