<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <body>
        
        <ui:composition template="./../templates/pilotTemplate.xhtml">
            
            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h2>All Plans</h2>
                    <h:dataTable var="plan" value="#{pilot.allMyPlans}" cellpadding="3">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Depart time (UTC)"/>
                            </f:facet>
                            <h:outputText value="#{plan.departureTime}">
                                <f:convertDateTime type="time" pattern="HH:mm"/>
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Id/Callsign"/>
                            </f:facet>
                            <h:outputText value="#{plan.aircraftId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Depart"/>
                            </f:facet>
                            <h:outputText value="#{plan.departureICAO}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Arrival"/>
                            </f:facet>
                            <h:outputText value="#{plan.destinationICAO}"/>
                        </h:column>
                    </h:dataTable>
                </h:form>
            </ui:define>

        </ui:composition>
        
    </body>
</html>
