<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:gmaps4jsf="http://code.google.com/p/gmaps4jsf/"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://www.ol4jsf.org">

    <body>
        <h:outputScript target="head" name="js/map_utils.js"/>
        <ui:composition template="./../templates/atcTemplate.xhtml">
            <!-- gmaps4jsf:htmlInformationWindow htmlText="#{mark.callsign}&lt;br/&gt;#{mark.elevation}ft&lt;br&gt;#{mark.aircraftType}" latitude="#{mark.lat}" longitude="#{mark.lon}"/ -->
            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAMNIGefyiCHaSKwIcnqF_vRTwM0brOpm-All5BF6PoaKBxRWWERQ7V9JA3O1KJLD4d-NOWwbldZpqaQ'></script>
                <h:outputScript name="jsf.js" library="javax.faces" target="head"/>


                <h:form id="frm">
                    <!-- gmaps4jsf:resources key="ABQIAAAAMNIGefyiCHaSKwIcnqF_vRTwM0brOpm-All5BF6PoaKBxRWWERQ7V9JA3O1KJLD4d-NOWwbldZpqaQ" / -->

                    <h:outputScript>

                        var thisMap = null;
                        var zoomLevel = #{atc.zoomLevel}
                        var primaryLayer = null;
                        var secondaryLayer = null;
                        var airwayLayer    = null;
                        var iconSecondary = null;
                        var iconPrimary = null;

                        var style_green = {
                            strokeColor: "#00FF00",
                            strokeOpacity: 0.7,
                            strokeWidth: 2
                        };

                        function ajaxUpdateNavs() {
                          var lat = document.getElementById("frm:lat");
                          //alert("before: "+lat.value);
                          var centre = myMap.getCenter();
                          lat.value = centre.y;
                          document.getElementById("frm:lon").value = centre.x;
                          //alert("after: "+lat.value);
                          jsf.ajax.request("button1", "click", {execute: '@form', render: 'atcMap'});
                          return false;
                        }

                        var err = function handleError(event) {
                          alert("Error with ajax: "+event);
                        }

                        function handleEvent(event) {
                          //alert("Event returned: "+event);
                          if (thisMap != null) {
                            var fixVec = thisMap.getLayersByName('Fixes');
                            if (fixVec.length > 0) {
                              //alert("update fixes layers: "+fixVec.length);
                              var layer = fixVec[0];
                              var feature = layer.features;
                              //alert("layer has "+fixVec.length+" with [0] features: "+feature.length);
                              //layer.display();
                              //var features = new Array(20);
                              //for (var i=0; i&lt;20; i++) {
                                //features[i] = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.Point(, ),{type: 1});
                              //}
                            }
                          }
                        }

                        function mapEvent(event) {
                          var lat = document.getElementById("frm:lat");
                          var lon = document.getElementById("frm:lon");
                          var zoom = document.getElementById("frm:zoom");
                          lat.value = event.object.center.lat;
                          lon.value = event.object.center.lon;
                          zoom.value = event.object.zoom;
                          zoomLevel = event.object.zoom;

                          //alert("new value of lat: "+lat.value+", lon: "+lon.value);
                          jsf.ajax.request("frm:button1","click", {execute: 'lat lon zoom', render: 'updMap', onevent: handleEvent});
                          //document.frm.submit();
                        }

                        function addMarkers() {
                            alert("Adding layers, please wait...");
                            <ui:repeat value="#{atc.areaAircraftMarkers}" var="mark">
                                <h:outputText value="primaryLayer.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(#{mark.lon},#{mark.lat}),iconPrimary.clone()));"/>
                            </ui:repeat>

                        }

                        function updateFixes() {
                              //alert("updMap");
                              if (thisMap != null) {
                                alert("update fixes");
                                thisMap.render('map');
                                var fixVec = thisMap.getLayerByName('Fixes');
                                if (fixVec.length > 0) {
                                  alert("update fixes layer");
                                  fixVec[0].draw();
                                }
                                //fixVector.draw();
                              }
                        }

                        function mousedown(evt) {
                          this.popup.toggle();
                        }

                    </h:outputScript>

                    <h:inputHidden id="lat" value="#{atc.currentAirport.lat}"/>
                    <h:inputHidden id="lon" value="#{atc.currentAirport.lon}"/>
                    <h:inputHidden id="zoom" value="#{atc.zoomLevel}"/>
                    <h:commandButton style="visibility: hidden" id="button1" action="#{atc.updateLocation}" value="update"/>

                    <h:panelGroup id="updMap">
                        <h:outputScript>
                            if (primaryLayers != null) {
                              var markers = primaryLayer.markers;
                              for(mark in markers) {
                                primaryLayer.removeMarker(markers[mark]);
                              }
                              while( primaryLayer.map.popups.length ) {
                                primaryLayer.map.removePopup(primaryLayer.map.popups[0]);
                             }
                              primaryLayer.redraw();
                              var marker = null;
                              var pop    = null;
                            <ui:repeat value="#{atc.areaAircraftMarkers}" var="mark">
                                <h:outputText value=" marker = new OpenLayers.Marker(new OpenLayers.LonLat(#{mark.lon},#{mark.lat}),iconPrimary.clone()); pop = new OpenLayers.Popup.Anchored('#{mark.callsignID}',new OpenLayers.LonLat(#{mark.lon},#{mark.lat}), new OpenLayers.Size(45,20),'#{atc.infoBoxHTML}', marker.icon, false, null); pop.setOpacity(0.7); pop.autoSize=true; primaryLayer.addMarker(marker); primaryLayer.map.addPopup(pop);"/>
                                <h:outputText value=" var mouseclick = function(evt) { this.show(); }; var mousehide = function(evt) { this.hide(); };"/>
                                <h:outputText value=" marker.events.register('mouseover', pop, mouseclick); marker.events.register('mouseout',pop, mousehide); pop.hide();"/>
                            </ui:repeat>
                            
                              var lineFeature   = null;
                            <ui:repeat value="#{atc.areaAirways}" var="awy">
                                var points = [];
                                <h:outputText value="points.push(new OpenLayers.Geometry.Point(new OpenLayers.LonLat(#{awy.beginLonDecimal},#{awy.beginLatDecimal}))); "/>
                                <h:outputText value="points.push(new OpenLayers.Geometry.Point(new OpenLayers.LonLat(#{awy.endLonDecimal},#{awy.endLatDecimal})));"/>
                                <h:outputText value="lineFeature = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.LineString(points), null, style_green); "/>
                                <h:outputText value="airwayLayer.addFeatures([lineFeature]);"/>
                            </ui:repeat>
                              airwayLayer.redraw();
                            }

                            /*  function must be part of ajax poll target */
                            function updatePosition() {
                              thisMap.setCenter(new OpenLayers.LonLat(#{atc.currentAirport.lon}, #{atc.currentAirport.lat}),zoomLevel,false,false);
                            }
                        </h:outputScript>
                    </h:panelGroup>

                    <h:panelGroup id="atcMap" style="height: 550px; width:  950px">
                        <m:map id="map" renderOnWindowLoad="false" height="500px" width="900px" jsVariable="olMap">
                            <m:googleLayer jsVariable="gLayer" name="Google Terrain" options="{type: G_PHYSICAL_MAP, sphericalMercator: false}"/>
                            <m:googleLayer name="Google Hybrid" options="{type: G_HYBRID_MAP }"/>
                            <m:wmsLayer name="OpenLayers WMS" url="http://labs.etacarta.com/wms/vmap0" params="{layers:'basic,ctylabel,rail,priroad,ground_01'}" />
                            <m:wmsLayer name="NEXRAD USA Weather" options="{visibility: false}" url="http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi" params="{layers:'nexrad-n0r,nexrad-n0r-900913,nexrad-n0r-m10m,nexrad-n0r-m15m',transparent:'true',format:'image/png'}"/>
                            <m:wmsLayer name="CustomWeather" url="http://maps.customweather.com/image?" options="{visibility: false}" params="{layers: 'base,contour_jet_stream,radar_precip_mode,au_radar',transparent:'true',format:'image/png'}"/>
                            <m:vectorLayer jsVariable="fixVector" id="fix" name="Fixes" value="#{atc.fixesVectors}" options="{reproject: true}"/>
                            <m:vectorLayer name="Airways" jsVariable="airwayVector" />
                            <m:markersLayer jsVariable="markLayer" name="MP">
                            </m:markersLayer>
                            <m:layerSwitcherControl />
                            <m:mousePositionControl/>
                            <m:panZoomBarControl/>
                            <m:scaleLineControl/>
                            <m:registerEvent type="moveend" jsFunc="mapEvent"/>
                            <m:script>
                              if (thisMap == null || thisMap == 'undefined') {
                                var size = new OpenLayers.Size(20,20);
                                var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                                iconSecondary = new OpenLayers.Icon('../resources/icons/aircraft-icon01.png',size,offset);
                                iconPrimary = new OpenLayers.Icon('../resources/icons/aircraft-icon03.png',size,offset);

                                var epsg900913 = new OpenLayers.Projection('EPSG:900913');
                                var epsg4326   = new OpenLayers.Projection('EPSG:4326');

                                olMap.displayProjection = epsg4326;
                                
                                primaryLayer = markLayer;
                                secondaryLayer = fixVector;
                                
                                secondaryLayer.projection = epsg4326;
                                gLayer.projection = epsg900913;
                                gLayer.setMap(olMap);
                                fixVector.setMap(olMap);
                                airwayLayer.setMap(olMap);

                                thisMap = olMap;

                                updatePosition()
                                
                              }
                            </m:script>
                        </m:map>
                        
                        <!-- m:vectorLayer jsVariable="awyVector" name="Airways" id="awy" value="{atc.areaAirways}" options="{reproject: true}"/ -->
                        <!--                                 
                                airwayLayer    = awyVector;
                                awyVector.setMap(olMap); -->

                        <!-- olMap.projection = "EPSG:900913";  -->

                        <!-- m:registerEvent type="moveend" jsFunc="mapEvent"/

                            <m:googleLayer name="Google Terrain" options="{type: G_PHYSICAL_MAP}"/>
                            <m:googleLayer name="Google Hybrid" options="{type: G_HYBRID_MAP}"/>

                            <m:vectorLayer name="Fixes" value="#{atc.fixesVectors}"/>
                            <m:vectorLayer name="FIR" value="{atc.firVectors}"/>
                        -->

<!-- gmaps4jsf:map id="map" renderOnWindowLoad="false" enableScrollWheelZoom="true"  jsVariable="myMap"  height="700px" width="700px" latitude="#{atc.currentAirport.lat}" longitude="#{atc.currentAirport.lon}">
    <gmaps4jsf:eventListener eventName="moveend" jsFunction="ajaxUpdateNavs"/>
    <ui:repeat value="#{atc.areaAircraftMarkers}" var="mark">
        <gmaps4jsf:marker id="#{mark.callsign}" latitude="#{mark.lat}" longitude="#{mark.lon}">
            <gmaps4jsf:icon imageURL="resources/icons/aircraft.png" />
        </gmaps4jsf:marker>
    </ui:repeat>
</gmaps4jsf:map -->
                        <h:outputText value="&nbsp;"/>
                    </h:panelGroup>
                    <h:panelGroup id="plans">
                        <h:dataTable id="planTbl" value="#{atc.activePlans}" var="plan">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Depart time"/>
                                </f:facet>
                                <h:outputText value="#{plan.departureTime}">
                                    <f:convertDateTime pattern="HH:mm"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Destination ICAO"/>
                                </f:facet>
                                <h:outputText value="#{plan.destinationICAO}">
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Aircraft Type"/>
                                </f:facet>
                                <h:outputText value="#{plan.aircraftType}">
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Cruise Altitude"/>
                                </f:facet>
                                <h:outputText value="#{plan.cruiseAltitude}">
                                </h:outputText>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                    <p:poll interval="5" update="plans, updMap"/> <!-- ,map -->
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
