<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:gmaps4jsf="http://code.google.com/p/gmaps4jsf/"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://www.ol4jsf.org">

    <body>
        <h:outputScript target="head" name="js/map_utils.js"/>
        <ui:composition template="./../templates/atcTemplate.xhtml">
            <!-- gmaps4jsf:htmlInformationWindow htmlText="#{mark.callsign}&lt;br/&gt;#{mark.elevation}ft&lt;br&gt;#{mark.aircraftType}" latitude="#{mark.lat}" longitude="#{mark.lon}"/ -->
            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAMNIGefyiCHaSKwIcnqF_vRTwM0brOpm-All5BF6PoaKBxRWWERQ7V9JA3O1KJLD4d-NOWwbldZpqaQ'></script>
                <h:outputScript name="jsf.js" library="javax.faces" target="head"/>


                <h:form id="frm">
                    <!-- gmaps4jsf:resources key="ABQIAAAAMNIGefyiCHaSKwIcnqF_vRTwM0brOpm-All5BF6PoaKBxRWWERQ7V9JA3O1KJLD4d-NOWwbldZpqaQ" / -->

                    <h:outputScript>

                        var thisMap = null;
                        var zoomLevel = #{atc.zoomLevel}

                        function ajaxUpdateNavs() {
                          var lat = document.getElementById("frm:lat");
                          //alert("before: "+lat.value);
                          var centre = myMap.getCenter();
                          lat.value = centre.y;
                          document.getElementById("frm:lon").value = centre.x;
                          document.getElementById("frm:zoom").value = myMap.getZoom();
                          //alert("after: "+lat.value);
                          jsf.ajax.request(document.getElementById("frm:button1"), "click", {execute: '@form', render: 'atcMap'});
                          return false;
                        }

                        var err = function handleError(event) {
                        alert("Error with ajax: "+event);
                        }

                        function handleEvent(event) {
                        //alert("Event returned: "+event);
                        if (thisMap != null) {
                        var fixVec = thisMap.getLayersByName('Fixes');
                        if (fixVec.length > 0) {
                        //alert("update fixes layers: "+fixVec.length);
                        var layer = fixVec[0];
                        var feature = layer.features;
                        //alert("layer has "+fixVec.length+" with [0] features: "+feature.length);
                        //layer.display();
                        //var features = new Array(20);
                        //for (var i=0; i&lt;20; i++) {
                        //features[i] = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.Point(, ),{type: 1});
                        //}
                        }
                        }
                        }

                        function mapEvent(event) {
                        var lat = document.getElementById("frm:lat");
                        var lon = document.getElementById("frm:lon");
                        var zoom = document.getElementById("frm:zoom");
                        lat.value = event.object.center.lat;
                        lon.value = event.object.center.lon;
                        zoom.value = event.object.zoom;
                        zoomLevel = event.object.zoom;

                        //alert("new value of lat: "+lat.value+", lon: "+lon.value);
                        jsf.ajax.request("frm:button1","click", {execute: 'lat lon zoom', render: 'updMap', onevent: handleEvent});
                        //document.frm.submit();
                        }

                        function ajaxLand(callsign) {
                           alert("clear to land for: "+callsign);
                           document.getElementById("frm:callsign").value = callsign;
                           jsf.ajax.request(document.getElementById("frm:land-button"), "click", {execute: '@form', render: 'atcMap'});
                           return false;
                        }


                    </h:outputScript>

                    <h:inputHidden id="lat" value="#{atc.currentAirport.lat}"/>
                    <h:inputHidden id="lon" value="#{atc.currentAirport.lon}"/>
                    <h:inputHidden id="zoom" value="#{atc.zoomLevel}"/>
                    <h:commandButton style="visibility: hidden" id="button1" action="#{atc.updateLocation}" value="update"/>
                    <h:inputHidden id="callsign" value="#{atc.currentCallsign}"/>
                    <h:commandButton id="land-button" style="visibility: hidden" action="#{atc.clearToLand}" value="land"/>

                    <h:panelGroup id="atcMap" style="height: 550px; width:  950px">
                        <gmaps4jsf:map id="map" renderOnWindowLoad="false" enableScrollWheelZoom="true"  jsVariable="myMap"  height="500px" width="700px" latitude="#{atc.currentAirport.lat}" longitude="#{atc.currentAirport.lon}" zoom="#{atc.zoomLevel}">
                            <gmaps4jsf:eventListener eventName="moveend" jsFunction="ajaxUpdateNavs"/>
                            <ui:repeat value="#{atc.areaAircraftMarkers}" var="mark">
                                <gmaps4jsf:marker showInformationEvent="mouseover" latitude="#{mark.lat}" longitude="#{mark.lon}">
                                    <gmaps4jsf:htmlInformationWindow htmlText="#{mark.callsign}#{atc.iconCurrentStatusHTML}"/>
                                    <gmaps4jsf:icon xcoordAnchor="#{atc.iconOffsetX}" ycoordAnchor="#{atc.iconOffsetY}" height="20" width="20" shadowHeight="0" shadowWidth="0" shadowImageURL="" imageURL="../resources/icons/aircraft-icon02.png"/>
                                </gmaps4jsf:marker>
                            </ui:repeat>
                        </gmaps4jsf:map>
                        <h:outputText value="&nbsp;"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:dataTable id="plans" value="#{atc.activePlans}" var="plan">
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Depart time"/>
                                </f:facet>
                                <h:outputText value="#{plan.departureTime}">
                                    <f:convertDateTime pattern="HH:mm"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Destination ICAO"/>
                                </f:facet>
                                <h:outputText value="#{plan.destinationICAO}">
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Aircraft Type"/>
                                </f:facet>
                                <h:outputText value="#{plan.aircraftType}">
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Cruise Altitude"/>
                                </f:facet>
                                <h:outputText value="#{plan.cruiseAltitude}">
                                </h:outputText>
                            </h:column>
                        </h:dataTable>
                    </h:panelGroup>
                    <p:poll interval="5" update="plans, atcMap"/> <!-- ,map -->
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
