<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../templates/atcTemplate.xhtml">

            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputLabel for="aircraft" value="Aircraft Type"/>
                        <h:inputText id="aircraft" value="#{atc.currentCharacteristics.aircraftType}"/>
                        <h:outputLabel for="defaultFlightLevel" value="Default Flight Level"/>
                        <h:inputText id="defaultFlightLevel" value="#{atc.currentCharacteristics.defaultFlightLevel}"/>
                        <h:outputLabel for="defaultCruiseSpeed" value="Default Airspeed (kt/mach)"/>
                        <h:inputText id="defaultCruiseSpeed" value="#{atc.currentCharacteristics.defaultCruiseSpeed}"/>
                        <h:outputLabel for="avgClimbFPM" value="Average Climb (ft/min)"/>
                        <h:inputText id="avgClimbFPM" value="#{atc.currentCharacteristics.avgClimbFPM}"/>
                        <h:outputLabel for="avgDescentFPM" value="Average Descent (ft/min)"/>
                        <h:inputText id="avgDescentFPM" value="#{atc.currentCharacteristics.avgDescentFPM}"/>
                        <h:outputLabel for="wakeCategory" value="Wake Category"/>
                        <h:inputText id="wakeCategory" value="#{atc.currentCharacteristics.wakeCategory}"/>
                        <h:outputLabel for="mtow" value="MTOW (kg)"/>
                        <h:inputText id="mtow" value="#{atc.currentCharacteristics.mtow}"/>
                        <h:outputLabel for="landingCat" value="Supported Landing Categories"/>
                        <h:selectManyCheckbox id="landingCat" value="#{atc.currentCharacteristics.landingCategory}">
                            <f:selectItem itemValue="VOR/DME"/>
                            <f:selectItem itemValue="ILS"/>
                            <f:selectItem itemValue="CAT I"/>
                            <f:selectItem itemValue="CAT II"/>
                            <f:selectItem itemValue="CAT III/a"/>
                            <f:selectItem itemValue="CAT III/b"/>
                        </h:selectManyCheckbox>
                    </h:panelGrid>
                    <h:commandButton action="#{atc.saveCharacteristic}" value="Save"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
