<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../templates/atcTemplate.xhtml">

            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2">
                        <h:panelGroup id="dynamic">
                            <h:panelGroup id="plans" layout="block">
                                <p:dataTable value="#{atc.activePlans}" var="plan" rows="10">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Depart time"/>
                                        </f:facet>
                                        <h:outputText value="#{plan.departureTime}">
                                            <f:convertDateTime pattern="HH:mm"/>
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Destination ICAO"/>
                                        </f:facet>
                                        <h:outputText value="#{plan.destinationICAO}">
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Aircraft Type"/>
                                        </f:facet>
                                        <h:outputText value="#{plan.aircraftType}">
                                        </h:outputText>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Cruise Altitude"/>
                                        </f:facet>
                                        <h:outputText value="#{plan.cruiseAltitude}">
                                        </h:outputText>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                            <h:panelGroup id="requests" layout="block">
                                <p:dataTable value="#{atc.currentRequestList}" var="row" selectionMode="single" rowKey="#{row.id}" selection="#{atc.currentRequest}">
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Callsign"/>
                                        </f:facet>
                                        <h:outputText value="#{row.session.callSign}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Request type"/>
                                        </f:facet>
                                        <h:outputText value="#{row.requestType}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Request"/>
                                        </f:facet>
                                        <h:outputText value="#{row.requestFormatted}"/>
                                    </p:column>
                                    <p:column>
                                        <f:facet name="header">
                                            <h:outputText value="Status"/>
                                        </f:facet>
                                        <h:selectOneMenu value="#{row.status}" disabled="#{empty atc.currentRequest}" >
                                            <f:selectItem itemValue="REQUESTED"/>
                                            <f:selectItem itemValue="RECEIVED"/>
                                            <f:selectItem itemValue="APPROVED"/>
                                            <f:selectItem itemValue="REJECTED"/>
                                            <f:ajax event="change" listener="#{atc.atnRequestUpdate}" execute="@this"/>
                                        </h:selectOneMenu>
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup id="active" layout="block">

                        </h:panelGroup>
                    </h:panelGrid>
                    <p:poll interval="6" update="dynamic" ></p:poll>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
