<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pou="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../templates/atcTemplate.xhtml">

            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form id="frm">
                    <h:panelGroup id="sessTable">
                        <pou:dataTable  selectionMode="single" selection="#{atc.currentATN}" value="#{atc.allATNSessions}" var="row" rowKey="#{row.sessionId}">
                            <pou:ajax event="rowSelect" update=":frm:detail"/>
                        <pou:column>
                            <f:facet name="header">
                                <h:outputText value="Callsign"/>
                            </f:facet>
                            <h:outputText value="#{row.callSign}"/>
                        </pou:column>
                        <pou:column>
                            <f:facet name="header">
                                <h:outputText value="Airport"/>
                            </f:facet>
                            <h:outputText value="#{row.closestAirport}"/>
                        </pou:column>
                        <pou:column>
                            <f:facet name="header">
                                <h:outputText value="Airline"/>
                            </f:facet>
                            <h:outputText value="#{row.airline}"/>
                        </pou:column>
                        <pou:column>
                            <f:facet name="header">
                                <h:outputText value="Type"/>
                            </f:facet>
                            <h:outputText value="#{row.aircraftType}"/>
                        </pou:column>
                    </pou:dataTable>
                    </h:panelGroup>
                    
                    <h:panelGroup  id="detail">
                        <div>Details:</div>
                        <h:panelGrid rendered="#{!empty atc.currentATN}" rules="rows" columns="2" >
                            <h:outputLabel value="Session Id"/>
                            <h:outputText value="#{atc.currentATN.sessionId}"/>
                            <h:outputLabel value="User"/>
                            <h:outputText value="#{atc.currentATN.user}"/>
                            <h:outputLabel value="Last contact"/>
                            <h:outputText value="#{atc.currentATN.lastContact}">
                                <f:convertDateTime type="both"/>
                            </h:outputText>
                            <h:outputLabel value="Airline"/>
                            <h:outputText value="#{atc.currentATN.airline}"/>
                            <h:outputLabel value="Altitude"/>
                            <h:outputText value="#{atc.currentATN.altitudeFeet}ft / #{atc.currentATN.altitudeMetres}m"/>
                            <h:outputLabel value="Closest airport"/>
                            <h:outputText value="#{atc.currentATN.closestAirport}"/>
                            <h:outputLabel value="Mailbox"/>
                            <h:panelGroup layout="block">
                                <pou:dataGrid value="#{atc.currentATN.cmdQueue}" var="msg">
                                    <h:outputText value="#{msg.commandMessage}"/>
                                </pou:dataGrid>
                            </h:panelGroup>
                        </h:panelGrid>
                    </h:panelGroup>
                    <pou:poll interval="6" update="sessTable" ></pou:poll>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
