<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./../templates/atcTemplate.xhtml">

            <ui:define name="left">
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <h:panelGroup id="signin" rendered="#{atc.notActive}">
                        <h2>Sign In</h2>
                        <h:panelGrid columns="2" cellpadding="8">
                            <h:outputLabel for="icao" value="ICAO"/>
                            <p:autoComplete maxResults="40" queryDelay="600" completeMethod="#{atc.autoQueryICAOSimple}" id="icao" value="#{atc.currentAirport.icaoId}" />
                            <h:outputLabel for="role" value="As"/>
                            <h:selectOneMenu id="role" value="#{atc.activeStation.role}">
                                <f:selectItem itemLabel="Tower" itemValue="TWR"/>
                                <f:selectItem itemLabel="Ground Clearance" itemValue="GND"/>
                                <f:selectItem itemLabel="Approach" itemValue="APP"/>
                                <f:selectItem itemLabel="Departures" itemValue="DEP"/>
                                <f:selectItem itemLabel="Director" itemValue="DIRECTOR"/>
                            </h:selectOneMenu>
                            <h:outputLabel for="callsign" value="MP Callsign"/>
                            <h:inputText id="callsign" value="#{atc.activeStation.callsign}"/>
                        </h:panelGrid>
                        <h:commandButton action="#{atc.createStation}" value="Sign IN!"/>
                    </h:panelGroup>
                    <h:panelGroup id="activeGrp" rendered="#{!atc.notActive}">
                        <h2><h:outputText value="You are active at #{atc.activeStation.airportIcaoId} as #{atc.activeStation.callsign}"/></h2>

                        <h:commandButton action="#{atc.signoutStation}" value="deactivate station"/>
                    </h:panelGroup>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
