<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="../resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>Pilot FlightGear</title>
    </h:head>
    
    <h:body>
        
        
        <div id="top" class="top">
            <ui:include src="includes/header.xhtml"/>
        </div>
        <div>
            <div id="left">
                <h:form id="menu">
                <ul>
                    <li><h:commandLink action="#{pilot.readyNewPlan}">Create New Plan</h:commandLink></li>
                    <li><h:commandLink action="#{pilot.readyNewCompanyPlan}">Create Company Plan</h:commandLink></li>
                    <li><h:commandLink action="#{pilot.loadAllPlans}">View My Flight Plans</h:commandLink></li>
                </ul>
                <ui:insert name="left">Left</ui:insert>
                </h:form>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>
    
</html>
