<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>
    <f:metadata>
        <f:event type="preRenderView" listener="#{user.checkAuthenticated}"/>
    </f:metadata>
    <div id="header">
        <h1>FlightGear ATC</h1>
        <h:form id="head">
        <h:panelGroup rendered="#{user.authenticated}">
            <span style="margin-left: 10px"><h:outputLink value="#{facesContext.externalContext.request.contextPath}/">Home</h:outputLink></span>
            <span style="margin-left: 100px"><h:outputLink value="#{facesContext.externalContext.request.contextPath}/pilot/index.jsf">Pilot</h:outputLink></span>
            <span style="margin-left: 100px"><h:commandLink action="#{atc.preATC}">ATC</h:commandLink></span>
            <span style="float: right">Logout</span>
        </h:panelGroup>
        </h:form>
    </div>
    </ui:composition>
</html>

