<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./templates/mainTemplate.xhtml">

            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" cellspacing="15" rowClasses="alignTop">
                        <h:panelGroup style="margin-top: 0px; padding-top: 0px">
                            <h2>Active ATC</h2>
                            <h:dataTable var="station" value="#{atc.loginStations}" id="stationTbl" cellpadding="3">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="ICAO"/>
                                    </f:facet>
                                    <h:outputText value="#{station.airportIcaoId}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Role" />
                                    </f:facet>
                                    <h:outputText value="#{station.role}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Frequency"/>
                                    </f:facet>
                                    <h:outputText value="#{station.fgcomFrequency}"/>
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                        <h:panelGroup style="margin-top: 0px; padding-top: 0px">
                            <h2>Current MP ATC</h2>
                            <h:dataTable var="mp" value="#{atc.mpATC}" id="mpTbl" cellpadding="3">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Callsign"/>
                                    </f:facet>
                                    <h:outputText value="#{mp.callsign}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Location"/>
                                    </f:facet>
                                    <h:outputText value="#{mp.lat},#{mp.lon}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Elevation"/>
                                    </f:facet>
                                    <h:outputText value="#{mp.elevation}">
                                        <f:convertNumber integerOnly="true" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Type"/>
                                    </f:facet>
                                    <h:outputText value="#{mp.aircraftType}"/>
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>
                    </h:panelGrid>
                    <p:poll interval="10" update="stationTbl, mpTbl"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
