<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:util="http://java.sun.com/jsf/composite/components/util">
    
    <body>
        
        <ui:composition template="./templates/mainTemplate.xhtml">
            
            <ui:define name="content">
                <util:login loginPrompt="Enter your FlightGear VA Username and password:"
                            namePrompt="Username"
                            passwordPrompt="Password"
                            loginButtonText="login"
                            loginAction="#{user.authenticateUser}"
                            managedBean="#{user}"/>
                <div id="register">
                    
                </div>
            </ui:define>
        </ui:composition>
        
    </body>
</html>
